/* Generals */
/* Palette colori */
:root {
    --color-light: #F6F6F6;
    --color-dark: #23272A;
    --color-blue: #255EE9;
    --color-violet: #748ADB;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--color-dark);
}

/* Classe di debug */
.debug {
    border: 1px solid red;
}

/* Header */
header ul li a {
    padding: 15px 18px;
    color: white;
    /* Tolgo la sottolineatura alle ancore */
    text-decoration: none;
}

/* tolgo i pallini */
ul {
    list-style: none;
}

/* Larghezza dei container */
.container {
    max-width: 1200px;
    margin: 0px auto;
    padding: 15px 0;
}

.small-container {
    max-width: 800px;
    margin: 0px auto;
}

/* Colori di sfondo delle section dell'header e del footer */
.color-blue-header-hero {
    background-color: var(--color-blue);
}

.color-light-backgroud {
    background-color: var(--color-light);
}

.color-dark-backgroud-footer {
    background-color: var(--color-dark);
}

/* Flexbox utilizzate */
.flex-display {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

.space-between {
    justify-content: space-between;
}

/* Allineamento centrato items */
.align-items {
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

/* Testi */
.text-white {
    color: var(--color-light);
}

.text-dark {
    color: var(--color-dark);
}

.text-align-center {
    text-align: center;
}

/* Main - Larghezza delle immagini e dei contenuti testuali del main */
#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: url('../img/jumbo.png');
    background-size: cover;
    height: 500px;
}

.image {
    width: 60%;
}

/* Imposto tutte le immagini nella classe image come immagini fluide, assegnandogli il width: 100% in modo da non mandarle in overflow */
.image img {
    width: 100%;
}

.content {
    width: 40%;
}

/* Immagine per sezione tecnology */
.image-full img {
    width: 100%;
}

h1 {
    font-size: 3em;
}
h2 {
    font-size: 3.2em;
}
p {
    font-size: 1.5em;
    font-weight: 500;
}

/* footer */
.footer-up {
    border-bottom: 1px solid var(--color-light);
}