/* Generals */
/* Palette colori */
:root {
    --color-light: #F6F6F6;
    --color-dark: #23272A;
    --color-blue: #255EE9;
    --color-violet: #748ADB;
}

/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: var(--color-dark);
}

/* Classe di debug */
.debug {
    border: 1px solid red;
}

/* Larghezza dei container */
.container {
    max-width: 1200px;
    margin: 0px auto;
}

.small-container {
    max-width: 800px;
    margin: 0px auto;
}

/* Colori di sfondo delle section dell'header e del footer */
.color-blue-header-hero {
    background-color: var(--color-blue);
}

.color-light-backgroud {
    background-color: var(--color-light);
}

.color-dark-backgroud-footer {
    background-color: var(--color-dark);
}

/* Flexbox utilizzate */
.flex-display {
    display: flex;
}

.row-reverse {
    flex-direction: row-reverse;
}

/* Testi */
.text-white {
    color: var(--color-light);
}

.text-dark {
    color: var(--color-dark);
}

/* Main - Larghezza delle immagini e dei contenuti testuali del main */
.image {
    width: 60%;
}

.content {
    width: 40%;
}

/* footer */
.footer-up {
    border-bottom: 1px solid var(--color-light);
}